<%if @expenses%>
  <div class="row">
    <div class="col-sm-12 transcation-total">
      <span>Total amount:</span> 
      <span>&#36;<%= @expenses.sum{|expense| expense.amount} %></span>
    </div>
    <% @expenses.each do |expense| %>
      <div class="col-sm-12 col-md-6">
        <div class="row transcation-listing">
          <%if expense.groups.exists?%>
            <div class="col-sm-2"><%= image_tag expense.groups.first.image, class: "group-img" %></div>
          <%end%>
          <div class="col-sm-7 grey-color">
            <p><%= expense.name %></p>
            <p><%= expense.created_at.day %>-<%= expense.created_at.month %>-<%= expense.created_at.year %> by <%= expense.author.username %></p>
          </div>
          <div class="col-sm-3 bold">&#36;<%= expense.amount %></div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>